@font-face {
  font-family: "Open Sans";
  font-display: fallback;
  src: url("../assets/fonts/OpenSans-Light.ttf");
  font-weight: 100;
}

:root {
  --primary-color: #673ab7;
  --highlight-color: #b39ddb;
  --background-color: #fafafa;
  --text-color: #000000;
}

[data-theme="dark"] {
  --primary-color: #f48fb1;
  --highlight-color: #fce4ec;
  --background-color: #121212;
  --text-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

::selection {
  background: var(--highlight-color);
  opacity: 0.3;
}

span,
p {
  opacity: 0.6;
}

@media only screen and (min-width: 768px) {
  body {
    margin-left: 25vw;
  }
}

body {
  background-color: var(--background-color);
  max-width: 720px;
}

h1,
h2 {
  font-size: 24px;
  opacity: 0.87;
}

h3 {
  margin: 0.5rem;
}
section h1 {
  text-align: center;
}

article {
  margin: 32px 8px;
}

.themeSwitcher {
  position: absolute;
  top: 14px;
  right: 16px;
}

.title {
  margin: 128px 8px;
}

.languageLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageItems {
  margin: 8px 16px;
}

.pinkText {
  color: var(--primary-color);
  opacity: 0.87;
  font-weight: 800;
}

.active {
  color: var(--primary-color);
  text-decoration: underline;
  opacity: 0.87;
}

.active:hover {
  cursor: pointer;
}

.disable {
  opacity: 0.38;
}

.projectsContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .card {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 50%;
  }
}

.card > a > img {
  max-width: 100%;
  height: auto;
  margin: 8px auto;
  border: var(--primary-color) 1px solid;
}

.cardContent {
  max-width: 100%;
  text-align: center;
  border: var(--primary-color) 1px solid;
  padding: 1rem;
}

.svgIcon {
  opacity: 0.6;
  margin-right: 16px;
}

.svgIconPath {
  fill: var(--primary-color);
}

.contactItem {
  margin: 24px auto;
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
}
